{% extends 'base.html' %}

{% block body %}


    <div class="container">
        <form method="POST" action="{% url 'create_outfit' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="starter-template">
                Choose a photo
                <div class='well'>
                    <div class="photo-button">
                        <img src="http://i.imgur.com/r1I4nzP.png" class="img-circle img-responsive">
                    </div>
                </div>
                <input type="file" name="picture"/><br/>
                <div class='clearfix'></div>
                <br/>
                Add a message<br/>
                <input type="text" name="message"/><br/><br/>
            </div>
            <input type="submit" class="btn btn-large" value="Wear this?!">
        </form>
    </div>


{% endblock %}