{% extends 'base.html' %}

{% block style %}
    <style>
        body{
            background-color: #00c97b;
        }
    </style>
{% endblock %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if error_msg %}
        <h3>{{ error_msg }}</h3>
    {% endif %}

    <div>
        <div class="login-bg">
            <div class='login-social'>
                <div>
                    <center><img src="http://i.imgur.com/ExfXoZL.png" class="logo-signin img-responsive social-button">
                    </center>
                </div>
                <div>
                    <center><img src="http://i.imgur.com/TpLpUqW.png" class="img-responsive social-button"></center>
                </div>
                <div>
                    <center><img src="http://i.imgur.com/Gkzbjl5.png" class='img-responsive social-button'></center>
                </div>
                <div class='clearfix'></div>
            </div>
            <p class="login-or">OR</p>

            <div class='login-username'>

                <!-- username and password login form -->
                <form id="login_form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-group log-user login-button">
                        <div class="col-sm-12">
                            <input type="text" name="username" value="" size="50" placeholder="Username"/>
                        </div>
                        <br>
                    </div>
                    <div class="form-group log-user login-button">
                        <div class="col-sm-12">
                            <input type="password" name="password" value="" size="50" placeholder="Password"/>
                        </div>
                    </div>

                    <div class="form-group log-user"><br>

                        <div class="col-sm-12">
                            <input type="submit" class="btn btn-default sign-in-button" value="Sign In"/>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>

{% endblock %}