{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}

    {% if error_msg %}
        <h3>{{ error_msg }}</h3>
    {% endif %}

    <div class="container">
        <div class="login-bg">
            <div class='login-social'>
                <div>
                    <button class="login-button">Facebook</button>
                </div>
                <div>
                    <button class="login-button">Instagram</button>
                </div>
            </div>
            <p class="login-or">OR</p>

            <div class='login-username'>

                <!-- username and password login form -->
                <form id="login_form" method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="text" name="username" value="" size="50" placeholder="Username"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10">
                            <input type="password" name="password" value="" size="50" placeholder="Password"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox"></div>
                        </div>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-default" value="Sign In"/>
                    </div>
                </form>
                <br />
                <div class='bottom-icons'>
                    <span class="glyphicon glyphicon-unchecked login-bottom"></span>
                    <span class="glyphicon glyphicon-unchecked login-bottom"></span>
                    <span class="glyphicon glyphicon-unchecked login-bottom"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}