{% extends 'base.html' %}

{% block body %}
    <div class="container">

        <div class="pull-left main-image"><img width="100%" src="{{ outfit.picture.url }}"/></div>
        <div class='clearfix'></div>

        <div class='well' id="ratings">

        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script src="http://cdn.pubnub.com/pubnub.min.js"></script>

    <script>
        var pubnub = PUBNUB.init({
{#            publish_key: "{{ pubnub_publish_key }}",#}
            subscribe_key: "{{ pubnub_subscribe_key }}"
        });

        pubnub.history({
            channel: 'new-rate-outfit-{{ outfit.id }}',
            count: 100,
            callback: function (m) {
                $.each(m[0], function (idx, val) {
                    get_msg(val);
                })
            }
        });

        function get_msg(m) {
            console.log(m);
            var res = m.split(':');
            var id = res[0];
            var rating = res[1];
            var message = res[2];

            var picture = getPicture(id);
            var name = getName(id);

            var div = document.getElementById('ratings');
            var block = "<div class='friend-row'>";
            block += "<div class='friend-vote row pull-left'>";
            block += "<img class='pull-left' src='" + picture + "' style='max-width:35px; max-height:35px'/>";
            block += "<span class='pull-left friend-name'>" + name + "</span><br>";
            if (message != '' && message)
                block += "<span class='friend-comment'>" + message + "</span>";
            block += "</div>"
            block += "</div>";

            for (var i = 0; i < rating; i++) {
                block += '<span class="glyphicon glyphicon-unchecked rating pull-right"></span>';
            }

            block += "<div class='clearfix'></div><hr/>";

            div.innerHTML = div.innerHTML + block;
        }

        function getPicture(id) {
            var result = null;
            var scriptUrl = "http://angelhack2014.herokuapp.com/api/picture/?user_id=" + id;
            $.ajax({
                url: scriptUrl,
                type: 'get',
                dataType: 'html',
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }

        function getName(id) {
            var result = null;
            var scriptUrl = "http://angelhack2014.herokuapp.com/api/name/?user_id=" + id;
            $.ajax({
                url: scriptUrl,
                type: 'get',
                dataType: 'html',
                async: false,
                success: function (data) {
                    result = data;
                }
            });
            return result;
        }

        // Subscribe to a channel
        pubnub.subscribe({
            channel: 'new-rate-outfit-{{ outfit.id }}',
            message: get_msg
        });

    </script>
{% endblock %}